<ul>
  <li>
    Name: <%= student.try(:name) %>
  </li>
  <li>
    Birthday: <%= student.try(:birthday).try(:strftime,("%m/%d/%Y"))  %>
  </li>
  <li>
    Hometown: <%= student.try(:hometown).try(:capitalize) %>
  </li>
</ul>
